<web-app>

<servlet>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>FeedbackServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
</servlet-mapping>

<welcome-file-list>
    <welcome-file>feedback.jsp</welcome-file>
</welcome-file-list>

</web-app>
